grafana/*
!grafana/.keep
grafana-alloy/*
!grafana-alloy/.keep
loki/*
!loki/.keep
waha-service/medias/*
!waha-service/medias/*.keep
waha-service/sessions/*
!waha-service/sessions/*.keep
n8n/*
!n8n/*.keep
ollama-service/*
!ollama-service/*.keep
metabase/*
!metabase/*.keep
nginx/logs/*
!nginx/logs/*.keep
prometheus/*
!prometheus/*.keep
prometheus-alloy/*
!prometheus-alloy/*.keep
prometheus-alloy-config/*
!prometheus-alloy-config/*.keep